<p>Hola {{empleado.nombre}}</p>
<div>
    <div class="p-d-inline">
        <div class="button">
            <button pButton pRipple type="button" label="Logout" (click)="logout()"></button>
        </div>
    <div class="tabview">
        <p-tabView>
            <p-tabPanel header="Header 1">
                Content 1
            </p-tabPanel>
            <p-tabPanel header="Header 2">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Header 3">
                Content 3
            </p-tabPanel>
            <p-tabPanel header="Header 4">
                Content 4
            </p-tabPanel>
            <p-tabPanel header="Header 5">
                Content 5
            </p-tabPanel>
            <p-tabPanel header="Header 6">
                Content 6
            </p-tabPanel>
        </p-tabView>
        
    </div>
    </div>
</div>