<div>
    <div class="p-d-inline">
        <div>
            <h1>Empleado: {{nombreEmpleado}}</h1>
        </div>
        <div class="button-logout">
            <button pButton pRipple type="button" label="Logout" (click)="logout()"></button>
        </div>
    <div class="tabview">
        <p-tabView>
            <p-tabPanel header="Test clínicos">
                <app-empleado-tests #empleadoTest [datosTest] = "testsEmpleado">
                </app-empleado-tests>
            </p-tabPanel>
            <p-tabPanel header="Solicitar material de protección">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Información jornada laboral">
                Content 3
            </p-tabPanel>
            <p-tabPanel header="Solicitar Baja">
                Content 4
            </p-tabPanel>
            <p-tabPanel header="Noticias">
                Content 5
            </p-tabPanel>
        </p-tabView>
        
    </div>
    </div>
</div>